#sidebar {
max-width: 150px;
background-color: #D6F3D7;
	line-height: 1;
}

.nav-title{
  background-color: #008000;
  padding: 5px;
  color: white;
  font-weight: bold;
}

.navbar-nav .nav-link{
  padding-left: 15px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

#content{
padding:15px;
max-width:1000px;
}

#header{
	height: 70px;
	line-height: 1;
	background-image: linear-gradient(#2E677B,  #00465E);
}

#header-txt{
	color: white;
	font-size: 70px;
	font-weight: 200%;
	opacity: 0.25;
}

#header-name {
  color: #AAF3B0;
}


h1,h2 {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

body {
font-family: sans-serif;
}
